.header {
    background-color: #222;
    background-image: linear-gradient(#222, #555);
    padding: 20px;
    position: fixed; 
    /* position: fixed; (Causes z index overflow.)*/
    width: 100%;
}

.link {
    color: white;
}

.link:hover {
    font-style: italic;
    text-decoration: none;
    color: white;
}
