.mainDiv {
    position:fixed;
    width: 100%;
}

.secondDiv {
    display: flex;
}

.content {
    width: 100%;
    height: calc(100vh - 85px);
    padding-bottom: 50px;
    overflow: scroll;
}

.banner {
    padding: 20px;
}

li {
    list-style-type: none;
}

h5 {
    text-decoration: underline;
}

li li {
    padding: 0px 20px 20px 20px;
}

img {
    max-width: 25%;
    height: auto;
}