.menuItem {
    padding: 10px 0 10px 0;
}

.menuItem .title {
    color: black;
}

.menu {
    position: fixed;
    padding: 20px;
    margin-top: 85px;
    border-right: 2px solid #555;
    display: inline-block;
    width: 240px;
    height: 100vh;
    text-align: center;
}

.menu .menuItem:hover {
    background-color: #ddd;
    border-radius: 10px;
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
    text-decoration: none;
}
